body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #222;
  background: #f7f7f7;
}

/* HERO SECTION */
.hero {
  position: relative;
  height: 90vh;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAACuCAMAAAClZfCTAAAAhFBMVEX/AAD//wD/4wD/9QD/6AD/6wD/+wD/oQD/2gD/8QD/wAD/zAD/mAD/1AD/+QD/qgD/igD/3QD/xwD/LQD/YwD/bAD/uwD/SwD/HwD/hAD/UgD/WQD/kgD/QgD/NgD/nQD/aAD/swD/cgD/egD/rQD/tQD/jQD/fQD/hgD/RwD/wwD/dgAhTsK9AAAMCUlEQVR4nO1da2Oqyg6dCCIPAXkoiOKrPtv////uJBkQH93tOefuWsdZH4pF7Ja1k5VMJjMIYWBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYKALsuzR3+DXYqqO4/HVCYMGgxMfp4qa0+Bx3+WXYaSOxyEfB4qa4fHqgtfFPOfjJuTjes1Hd8PHfP7z3+mX4eTyMQc+BgEfQVHnnn7+O/0S5KV6ARzCKqjomCQXv2aKOVHmP/ntfgVKX71IdnSoYUlHz6PDEmo67hJ1mV+Kl0Ow4mPMdlICexzwry4wJRDzVavgR7/c78BMudAGOJYpbi4PQ1BpEsx+9ts9FIvmhcUeVoJFR4CV/FkAFPKwUhRZyph21s3HNcZsqV4MiQyk4Q0PAFtB3KAub5miN0VfoSxNfuglrCk9qBfAypxCDw8W2PLnCABzRZu56UFKl3hNXDukP/lNH4dGVwLW4iHQCRvQqQYAA3Q+4msGbD0xKLFu9Et7zFVAHwO9kEQgAz1Ah5sATNDBAIN9wOTVoES7hpdJtT0lwhG7GACmjy6REwKERJRMARbAitSDiC4vHe9R3/in0I7dc6VCMTuSdLE1keORLfWQQzSsNbubdEROjjzIb/6Ubug3ETtk81mw/UzIWnz5cyEcAIfO+2RdExyC4HmB7KmRrljYj/j2P4JFkwhmwLebkOYcAa1J2gzskRYQe0C7ktYDx+YasjJVkByDxsnRGJSHxGQmYgoY46UcyxgvT8kQTxSlgL5lAcq5zAIAq2x+424y6I0/+/s6YNCEb4fvGBkp6ed4RN5lo/6gzx3HxFYJrNmSQNZsGea0FSJGAH1ylym5FclQiL4kjSl17KLY2PamKGwnJfNJ0L1QkObKlkTWBz0HtIvzsKHPuQ6GLtiICo0kzwH6xdz3HFBwPH9e9PkdgEoOdYEFXuZQ/fZPzbSSpGU7cMAAhQkgkTNDxqQ15XYEN4jsnKynj8QAldjm0Gq2HLgs7/1Lz4tDmxjPOKKTJsNC2od1tG/5YdhHqdkbzAFosPYO0BZF5nC4/y89L2bgqcRvzl5DQuyK8r11L/BcfxvHW9/12lPOe4l5N0p2aSsDlMg9HQtItQMhOwkag1OJJVKU9RqDiS+K0/mgMa1ehhQtReUo85POGoIa5mmG0mtSG7r7KQayUMlOfEd5F7ESqBBD2xQaycZikqdrJVtaTIShuyTfOoiCTcjiWcV6P0ksyUpkJZM9GwlKETJzYoYcPDd1Gqq0Qd75D0ej6VUqnAUZWwkFpnp71h/WpS2xtGQrywIV1CpkNTz/RS3mjko/OCurr4ITGkWqpAbPp/fiGSUKSqxScs2SrvPbPzcLNJk7WoHVlJ5pJIaGcwiYFTXuEqfBtRU1fRDqI2lwUCbVfEQMLVj93F38ZeykW6mx55xuM6EUEuBDoC95a7SzYncmaIeV/9naIy/8oFMZjVNo2IIYS9fbPeZu/g4Krw1bfMMF6RAyM6LfnTUaDSeRNsr3ae20jNAwJDrR79QNQcHOKx53P38F5C4JxjMaTpDCKKmd7YiNHqbLq15vJQ8Het/ZKRXL24/giWly4W/6oGbdnVRi4bqh8rI6sklzxhSxrCGJbzmkWE+ueRrY0UKZXui6C1FNWOW1TB2pjCjR37AQoRmQbfWXkpkMX1pkVzkyFMtz5bJ/cWEmPvr8N4Z//peeCaN5tz0oY8GFEg1KpX852Q/lBUPSZlJwpGBG76TKG+kjJX8+6baMnuZP3seWu5DE4zZ5YW1+Z5MQEw/tRwxRunukwzVWqknVN8hJhFSVS09V+fmD0FJSbuIE3OdPHjOM5VaqJuNLqUIWqvOSJ0AgXMmz6D88ho8bHZbJQR8NakWyteA825EuGDLfs2GK/rjTpAeZ5RfsyVGKbL7HGQ9uZ6DA1ccw9yFJKCcZ911nE0nDAgma9ptQJ6jcf9xLm6mPEy4DWBpJknhrah6Q5DTQP6JOyTcqFByPytIrUKaE2eUKX0wx4w6o3DjiuSRb5Enzl3pvj7qbvwQWX8qGgGczgDocRB00ASqGgIO+6ofAEBhgcB8AzYJE6sPQCrxuWKz55myO43toAnqFgrvGIC9U3zW+xubiHC2Ix2h7fqEKbWtNJOgWKEr9iOW3qSqSBWUecCOWC9zz+Cbdj2hQyRTO7qO8W329JGg6OG7yqu7WK8ajgu+3bjyGZ5+3kNBltedR3lwm1LTGUY9QM6vFqDsXW9ZVvjkOnni9yGmoKq9g2Ykb+Ot4RGIcN7UyGcelrSApmGJO1d2Pp+qEfCNrqv9L9rS5GMVrP3R7tqXeCIfP3r1eLV3oIMWqWi5Ec3KBluKs8MomJ2qOK4ffZbg8mvUvqm/usnrgrf0/sdq2U2WOx+FJGUfBeTNRclDdaGPgOTI0moyaaOmDgoLgecq2v1097Ib+Csq3CdUVbYdarZRt4Kgj4vK1JONUcepYnTi6LTk72LT2hlUnItubvOlRkb3GYp/6xdlnOC/qczdxyi3Giygi+S6ocr3lPrUBXay8s/DTvVaT+TdAinyu79NMhkwc3wW1iNAUUKqq+g41hOCsJDaCkOhPeXZAt1qjQpEfB5OwJ+/bRq/ZcuKInAy4KhI3wV+k3CCxUALVY1NDAdqTVcFGeprTCyeD/er52crG08E6SC6nNlRujaF/Rv6GanPkvKdWzVWDmvMmrGFH5GEzCvfd/FrBS4L1YDp+1mT7TxTtqUsWraNgAmQsK6Mm6DslxTUksWBrW18PQc4U7Z6YojOKfHTlaAeynoBsA2uJOKbwVONnQjGPhh4l2RvKUYSJwIWjjfLnd7S7UHI9gxUV7XFA1mOJdtsOtD6fT1mnXJoIWKFJaSzXCp2gv0B7YTOJ2Wi2/BvWrku2NMGtJCW7GtZr9Q76V6kjrivbURkaOatYenJS6ZqzpjF3RxRU8N7xQrRz6ujrljreGYBQXEc/ak2FonvEIW5wYWC9JiO4GIDY2gxAPhnGUj5YEBnIgst8hU1G2WM58oi4QvXL6DiM7RZDem7or+NjUwxBL0p5DFvx5FHZ1s+GbFUjdrWMhLupP87FMV77gZvoUQz5U0kNA35JP1MmZN4ps9WcW5ZETkDvY+DXsaR2jW5h9oCDsKolAt2s31CEwb/XklfhEO6gZ2H2Etn6Ir8Wap1ezNl1dS5EsqshezPKBVy16UO3vK9j2L+dJKqZBkEG866mpBtkNMpH02L6sHar9yTRvalGQUoUc0rEsnQGCxAmRzGohTEj0HiqsZ2wHmFaOG8nrNXiV5tSwwouUFFqiboOKiuiCWvcy6eeajZh/XnbA9rFhLOdUojkkqKEzSinahv2gmjb9kDNM5tPmmdkplhTujhR7X1dzIicEFMBzBvvNs+MNWieGc27A/PbFqzz8mD3miL3vLwYr9S3BauLO418guQ47E7OtmADO1+FdG30a+Tr4G47qKDC44ZXgF5hQtNDVPTHKX7920E/bSreNZ00NxCYClH7+Ss0FeNCV9WazhOHp6jl6GNAE7G3kGOOAVlatzWdTnBr+rMP8i/QWeDAbUXdBQ6IG7FGqL362MvaBQ5qXaNeCxzuLZOZXi6T2d2jaNf9iM7LZO4stipvFlvJ9ODKkFy1O+jFYiuh52Kr7y3ZoyuHfmh7nh36wzYdfIklex3I23Oo+nV34ecdjNqFn6TnOAMpppF2Cz9b4PJhas6jTPlfLR/mTXliXZcPnxehoyB9uQg9vl6EXqDpvdObmi5Cv9zKwC45W/z+VgYlG5/GWxlcboiBxsAbYnz8kw0x0Py03RDjy21VrFt+rJfaVuWbm/O0289EL7g5T4vuFk/z72/xtAfdt3hq0W4UFv3zjcK4LKL7RmH/bbs5Tqr03m7ObFr4JczWl1/hzxuoBpcbqIavuYFqg9tteBf3tuHN4OW24W3wrc2ckbzrzZwXL7OZs9kS/Cv8l43l315iY/k/P54gN48n+JcPuVi/1EMuGnzzUSnqAVf6lYe+AfPAna9gHtv0JczDv74N8wi5L/HZgwhD8yDCBuZxlt+GeSjqlzCP1v02zAOaDQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMNML/AFBgupQQxea6AAAAAElFTkSuQmCC")
    center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
}
.hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero h1 {
  z-index: 10;
  font-size: 3rem;
  margin: 0;
}

.hero p {
  z-index: 10;
  font-size: 1.3rem;
  margin-top: 10px;
}

.btn {
  z-index: 10;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ffcc00;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #e6b800;
}

/* SECTIONS */
.section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

.section h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* CARDS */
.cards {
  padding: 50px 20px;
  background: white;
}

.card-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #fff;
  width: 300px;
  border-radius: 16px;
  background: #ffffff;
  color: #000000;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 30px 80px rgb(255, 0, 0);
  background: #ffffff;
}

.card img {
  width: 100%;
  border-radius: 16px;
  height: 350px;
  object-fit: cover;
}

.card h3 {
  margin: 15px;
}

.card p {
  margin: 0 15px 20px;
  color: #555;
}

/* FACTS */
.facts ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: auto;
}

.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px; /* максимальная ширина */
  aspect-ratio: 16 / 9; /* сохраняет пропорции */
  margin: 0 auto; /* центр по горизонтали */
}

.video-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px; /* опционально */
}

.facts li {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.facts li:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 30px 80px rgb(255, 0, 0);
  background: #ffffff;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #eee;
  margin-top: 30px;
}

a {
  color: #000000;
}
